body * {
    box-sizing: border-box;
}

/* Define the rules of the entire body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Define the link colors functionality */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* Define the rules for the entire header */
.header, .header * {
    /* border: solid 1px black; */
    display: flex;
    width: 100%;
}

/* Define the outer padding of the navigation bar */
.navigationbar {
    width: 100%;
    min-width: 300px;
    padding: 10px;
}

/* Define the rules for the left component of the header */
.leftsection {
    flex: 1 0 127px;
    font-size: x-large;
    font-weight: bold;
    align-items: center;
}

/* Define a different color for the logo link */
.leftsection a:link {
    color: purple;
}

/* Define the size of the box for the items in the right component of the header */
.rightsection {
    flex: 1 0 127px;
    justify-content: flex-end;
    align-items: center;
}

/* Define the padding around the right component items
    and only have the width be the size of the text inside */
.username, .signout {
    padding: 5px;
    width: max-content;
}

nav h1 {
    margin-left: 30px;
}

nav ul {
    list-style-type: none;
    margin-right: 5px;
    padding: 5px;
    display: flex;
}

nav li {
    margin: 5px;
    /* padding: 10px; */
}

section, section * {
    border: solid 1px black;
}

aside, aside * {
    border: solid 1px black;
}