/* TODO:  Double check colors
          Update icons to be buttons*/

body * {
    box-sizing: border-box;
}

/* Define the rules of the entire body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #f2f2f2;
}

/* Define the link colors functionality */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}

/* Define the rules for the entire header */
/* .header, .header * {
    border: solid 1px black;
} */

.header {
    display: flex;
}

/* Define the outer padding of the navigation bar */
.navigationbar {
    display: flex;
    position: fixed;
    width: 100%;
    /* width: max-content; */
    min-width: 300px;
    /* padding: 10px; */
    padding: 10px 30px;
    background-color: white;
    /* border-bottom: solid 1px black; */
}

/* Define the rules for the left component of the header */
.leftheader {
    display: flex;
    /* width: 100%; */
    min-width: max-content;
    font-size: x-large;
    font-weight: bold;
    align-items: center;
}

/* Define a different color for the logo link */
.leftheader a:link {
    color: purple;
}

.logo {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Define the size of the box for the items in the right component of the header */
.rightheader {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

/* Define the padding around the right component items
    and only have the width be the size of the text inside */
.username, .signout {
    padding: 5px;
    width: max-content;
}

/* .mainapp * {
    border: solid 1px black;
} */

.mainapp {
    width: 100%;
    margin-top: 50px;
}

.mainsection {
    display: flex;
    width: 100%;
    padding: 10px;
    /* background-color: #f2f2f2; */
}

.leftapp {
    display: flex;
    flex-direction: column;
    /* background-color: #f2f2f2; */
    width: 60%;
    align-items: flex-end;
}

.stories {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 600px;
    overflow: auto;
}

.astory {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: 100px;
}

.astoryname {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: small;
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.astory img {
    border: 3px solid lightgray;
    width: 65px;
    height: 65px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 20px;
    background-color: white;
}

.cardtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.postuser, .moreicon {
    width: min-content;
    margin: 10px;
}

.btn {
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
}

.cardimage {
    display: flex;
    justify-content: center;
}

.postpic {
    max-width: 600px;
}

.cardreacts {
    display: flex;
    flex-direction: column;
}

.cardiconsection {
    display: flex;
    /* font-size: x-large; */
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

.cardicons {
    display: flex;
    width: min-content;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.cardicons * {
    font-size: x-large;
}

.cardnumlikes {
    margin: 10px;
    padding: 10px;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: bold;
}

.cardcaptionsection, .cardcommentsection {
    margin: 0px 10px;
    padding: 0px 10px;
    flex-direction: column;
}

.commentspan, .commentspan * {
    display: inline;
}

.commentspan {
    display: inline;
}

.comment {
    margin-block-start: 5px;
    margin-block-end: 0px;
    display: block;
    /* padding: 2px; */
}

.timesincepost {
    margin-top: 10px;
    padding: 2px;
    font-size: small;
    color: gray;
}

.cardaddcomment {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.addnewcomment {
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.addnewcomment .btn {
    padding-left: 0px;
}

.input {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.addnewcomment i {
    width: min-content;
    margin: 5px;
    font-size: x-large;
}

.postbutton {
    display: flex;
    width: min-content;
    align-items: center;
    margin: 10px;
}

.rightapp {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* width: 500px; */
    /* width: 35%; */
    position: fixed;
    /* left: 900px; */
    left: 60%;
}

.profilepic {
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.user {
    display: flex;
    align-items: center;
    padding: 5px;
}

.user .profilepic {
    width: 80px;
    height: 80px;
}

.user h1 {
    margin: 10px;
    width: min-content;
}

.sugs {
    display: flex;
    flex-direction: column;
}

.sugs > div {
    padding: 5px;
}

.suggestionheader {
    font-weight: bold;
    font-size: large;
    color: gray;
}

.asuggestion {
    display: flex;
    align-items: center;
}

.asuggestionmid {
    margin-left: 5px;
    width: 150px;
    /* max-width: 300px; */
}

.asuggestionname, .asfy {
    padding: 2px;
}

.asuggestionname {
    font-weight: bold;
    font-size: medium;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.asfy {
    color: gray;
}

.follow {
    width: min-content;
    padding: 2px;
}

@media only screen and (max-width: 1000px) {
    .body {width: 100%;}
    .header {width: 100% }
    .mainsection { justify-content:space-around; }
    .rightapp {display: none;}
    /* .leftapp {width: 100%;} */
    /* .stories {justify-content: flex-start;} */
    .card {width: 100%;}
    .stories {width: 100%;}
    .postpic {width: 100%;}
}

@media only screen and (max-width: 750px) {
    .leftapp {width: 100%;}
}