<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PhotoApp</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        
        {% include 'includes/navbar.html' %}

        <main class="mainapp">
            <section class="mainsection">
                <div class="leftapp">
                    {% include 'includes/stories.html' %}

                    {% include 'includes/cards.html' %}
                </div>
                <div class="rightapp">
                    {% include 'includes/suggestions.html' %}
                </div>
            </section>
        </main>
    </body>
</html>

<!-- You can add a new text box that allows the user to specify the alt-text for an image.
When the user submits the alt-text, you can use imageObject.alt = text to set the alt-text
to the user specified text. -->